Package: com.harlanhaskins.flatreminders
Name: Flat Reminders
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Harlan Haskins
Author: Harlan Haskins
Section: Tweaks
